{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "no-console": "error",
        "no-debugger": "error",
        "no-extra-semi": "error",
        "no-extra-parens": "error",
        "space-in-parens": ["error", "never"],
        "space-before-blocks": ["error", "always"],
        "no-irregular-whitespace": "error",
        "no-tabs": "error",
        "indent": ["error", 4],
        "no-trailing-spaces": "error",
        "no-multiple-empty-lines": "error",
        "eol-last": ["error", "always"],
        "@typescript-eslint/explicit-function-return-type": "error",
        "@typescript-eslint/no-explicit-any": "error",
        "@typescript-eslint/no-unused-vars": "error",
        "@typescript-eslint/no-use-before-define": "error",
        "@typescript-eslint/no-empty-function": "error",
        "@typescript-eslint/no-empty-interface": "error",
        "@typescript-eslint/typedef": ["error",
            {
              "arrayDestructuring": true,
              "arrowCallSignature": true,
              "arrowParameter": true,
              "callSignature": true,
              "memberVariableDeclaration": true,
              "parameter": true,
              "propertyDeclaration": true,
              "objectDestructuring": true,
              "variableDeclaration": true,
              "variableDeclarationIgnoreFunction": true
            }
          ],
      "@typescript-eslint/no-inferrable-types": 0
    }
}
